<div class="header">

  <div bb-form-data-store></div>

  <div bb-breadcrumbs ng-init="setRoute([
    {page:'map', title: 'Select a store'},
    {page:'event_list', title: 'Select a date'},
    {page:'event', title: 'Select tickets'},
    {page:'checkout_event', title: 'Checkout', disable_breadcrumbs: true},
    {page:'confirmation', title: 'Finish'}
    ])">
  </div>

  <div class="alerts" bb-scroll-to="alert:raised" bb-always-scroll>
    <div uib-alert ng-repeat="alert in $root.alerts" ng-class="'alert-' + alert.type">
      <ul>
        <li ng-bind-html="alert.msg"></li>
      </ul>
    </div>
  </div>

</div>

<div class="content">

  <div bb-content class="ng-cloak"></div>
  <div bb-display-mode></div>

  <div bb-loading class="bb-loader" >
    <div id="loading_icon">
      <div id="wait_graphic">&nbsp;</div>
    </div>
  </div>

</div>

<div bb-dynamic-footer class="footer">
  <div ng-show="isLoaded" class="powered-by">
    <span>Bookings powered by <a href="//www.bookingbug.com" style="text-decoration:none" target="_blank"><span style="color:#087f94">booking</span><span style="color:#88c66f">bug</span></a></span>
  </div>
</div>
