<div class="header">

  <div bb-form-data-store></div>

<!--   <div bb-breadcrumbs class="breadcrumbs_holder" ng-init="setRoute([
      {page:'purchase', title: 'Your booking'}
      ])">
  </div> -->

  <div class="alerts" bb-scroll-to="alert:raised">
    <div uib-alert ng-repeat="alert in $root.alerts" ng-class="'alert-' + alert.type">
      <ul>
        <li ng-bind-html="alert.msg"></li>
      </ul>
    </div>
  </div>

</div>

<div class="content">

  <div bb-content class="ng-cloak"></div>
  <div bb-display-mode></div>

  <div bb-loading class="bb-loader" >
    <div id="loading_icon">
      <div id="wait_graphic">&nbsp;</div>
    </div>
  </div>

</div>

<div bb-dynamic-footer class="footer">
  <div ng-show="isLoaded" class="powered-by">
    <span>Bookings powered by <a href="//www.bookingbug.com" style="text-decoration:none" target="_blank"><span style="color:#087f94">booking</span><span style="color:#88c66f">bug</span></a></span>
  </div>
</div>
