<div class="header">

  <div bb-form-data-store></div>

  <div bb-breadcrumbs class="breadcrumbs_holder" ng-init="setRoute([
    {page:'login', title: 'Login'},
    {page:'account', title: 'My Profile'}
    ])">
  </div>

</div>

<div class="content">

  <div class="row" ng-if="isMemberLoggedIn()">

    <div class="col-sm-3">

      <div tabset vertical="true" type="pills">
        <div tab heading="Account" ng-click="showPage('account')"></div>
        <div tab heading="Upcoming Bookings" ng-click="showPage('upcoming-bookings')"></div>
        <div tab heading="Past Bookings" ng-click="showPage('past-bookings')"></div>
        <div tab heading="Purchase History" ng-click="showPage('purchase-history')"></div>
        <div tab heading="Wallet" ng-click="showPage('wallet')"></div>
      </div>

    </div>

    <div class="col-sm-9">

      <div class="alerts" bb-scroll-to="alert:raised">
        <div alert ng-repeat="alert in $root.alerts" type="{{alert.type}}">
          <ul>
            <li ng-bind-html="alert.msg"></li>
          </ul>
        </div>
      </div>

      <div bb-content class="ng-cloak"></div>

    </div>

  </div>

  <div ng-if="!isMemberLoggedIn()">

    <div class="alerts" bb-scroll-to="alert:raised">
      <div uib-alert ng-repeat="alert in $root.alerts" ng-class="'alert-' + alert.type">
        <ul>
          <li ng-bind-html="alert.msg"></li>
        </ul>
      </div>
    </div>

    <div bb-content class="ng-cloak"></div>
    <div bb-display-mode></div>

  </div>

  <div bb-loading class="bb-loader" >
    <div id="loading_icon">
      <div id="wait_graphic">&nbsp;</div>
    </div>
  </div>

</div>

<div bb-dynamic-footer class="footer">
  <div ng-show="isLoaded" class="powered-by">
    <span>Bookings powered by <a href="//www.bookingbug.com" style="text-decoration:none" target="_blank"><span style="color:#087f94">booking</span><span style="color:#88c66f">bug</span></a></span>
  </div>
</div>
