@font-face {
  font-family: 'bb-icons';
  src: url('fonts/bb-icons.eot');
}
@font-face {
  font-family: 'bb-icons';
  src: url(data:application/x-font-ttf;charset=utf-8;base64,AAEAAAALAIAAAwAwT1MvMg8SAzAAAAC8AAAAYGNtYXAaVcxdAAABHAAAAExnYXNwAAAAEAAAAWgAAAAIZ2x5ZmYHR0QAAAFwAAAFAGhlYWQE11YLAAAGcAAAADZoaGVhB8IDzAAABqgAAAAkaG10eB4AA4wAAAbMAAAALGxvY2EFSAaAAAAG+AAAABhtYXhwABIAdAAABxAAAAAgbmFtZdfnx1QAAAcwAAABTnBvc3QAAwAAAAAIgAAAACAAAwQAAZAABQAAApkCzAAAAI8CmQLMAAAB6wAzAQkAAAAAAAAAAAAAAAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADmBgPA/8AAQAPAAEAAAAABAAAAAAAAAAAAAAAgAAAAAAACAAAAAwAAABQAAwABAAAAFAAEADgAAAAKAAgAAgACAAEAIOYG//3//wAAAAAAIOYA//3//wAB/+MaBAADAAEAAAAAAAAAAAAAAAEAAf//AA8AAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAABACrACsDVQNVACcANABBAEYAABMUFhcVFBY7ATI2PQEhFRQWOwEyNj0BPgE1ETQmJy4BIyIGBw4BFREXIiY1NDYzMhYVFAYjISImNTQ2MzIWFRQGIxMhNSEVqxcTGRIrERkBVhkRKxIZExc1Ly58R0d8Li81lRslJRsbJSUbAYAbJSUbGyUlG0D+AAIAAQAcMRJMERkZESsrERkZEUwSMRwBqzhDEhILCxISQzj+VSsmGhslJRsaJiYaGyUlGxomAQDW1gAAAAAGAAAAAAQAA3cADAAlADIASwBkAHEAAAEyNjU0JiMiBhUUFjMTIgYHDgEVFBYXHgEzMjY3PgE1NCYnLgEjESImNTQ2MzIWFRQGIwMzNSMnLgEjIgYPAQ4BFRQWHwEVMxEnNxcFIgYHDgEVFBYXHgEzMjY3PgE1NCYnLgEjESImNTQ2MzIWFRQGIwKrHy0tHyAtLSCALE4dHSIiHR1OLCxOHB0iIh0cTiw+WFg+PldXPrS0iVIKIRQPGgqeCgsTEY9NYGNJ/l4sThwdIiIdHE4sLE4dHSIiHR1OLD5XVz4+WFg+At4tICAsLCAgLf7NIh0dTiwsThwdIiIdHE4sLE4dHSL+lVc+PlhYPj5XAcBNixAUDAqdChsPFCAKV9UBFEdkalUiHR1OLCxOHB0iIh0cTiwsTh0dIv6VVz4+WFg+PlcAAAACAQAAAAMrA6IADAAmAAABMjY1NCYjIgYVFBYzEzM1IycuASMiBg8BFTM1NwMzExcVMxEnNxcCVSAtLSAgLCwgBdGbVQohFAULBedNWqdNemRMaiAtAwksICAtLSAgLP73TY4QEwECSN6dHP1yAVqF1QERwnpNAAAEAIAAKwOAAtUAHAApADYAOwAAAS4BIyEiBg8BERQWOwEyNj0BIRUUFjsBMjY1EScBIiY1NDYzMhYVFAYjISImNTQ2MzIWFRQGIyU3IRchAycGIRX+KhUhBlkZEioSGQIAGRIqEhlZ/e4aJiYaGyUlGwHWGyUlGxomJhr96kAB1kD9qgKqExgYE//+qhEZGRErKxEZGREBVv/+ViUbGyUlGxslJRsbJSUbGyXVwMAAAAMALv/YA9IDfQAEACkALgAAExcBJwElJw4BIyImNTQ2NycmIgcBBhQfAT4BMzIWFRQGBxcWMjcBNjQnCQT7tgFOtv6yAtdNCxkOKzwGBk0PKxD9zQ8PTQsZDis8BgZNDysPAjQPD/3f/vcBoQEJ/l8BXLYBTrX+s/lOBgc9Kw0ZC04PD/3MDysPTgYHPSsNGQtODw8CNA8rD/3+AQkBof73/l8AAgEAABEDAANEABgAJQAAASIGBw4BFRQWFx4BMTA2Nz4BNTQmJy4BIxEiJjU0NjMyFhUUBiMCADVdIyMoUDAwUFAwMFAoIyNdNTlRUTk5UVE5A0QoIyJeNVvHU1Nra1NTx1s1XiIjKP5zUTk5UVE5OVEAAAAEADMAAAPNA5oAGAAdACIAJwAAASMVIzUhFSM1IyIGFREUFjMhMjY1ETQmIxEhESERASMVMzUhIxUzNQNmLqT+2KQuKzw8KwLMKzw8K/00Asz910dHAc1HRwMzZmZmZjwq/ZkqPDwqAmcqPP0zAZr+ZgM0rq6urgABAAAAAQAAD5t2Z18PPPUACwQAAAAAANDcCMoAAAAA0NwIygAA/9gEAAOiAAAACAACAAAAAAAAAAEAAAPA/8AAAAQAAAAAAAQAAAEAAAAAAAAAAAAAAAAAAAALAAAAAAAAAAAAAAAAAgAAAAQAAKsEAAAABAABAAQAAIAEAAAuBAABAAQAADMAAAAAAAoAFAAeAIIBJAFgAbgCCgJEAoAAAQAAAAsAcgAGAAAAAAACAAAAAAAAAAAAAAAAAAAAAAAAAA4ArgABAAAAAAABABAAAAABAAAAAAACAA4ATgABAAAAAAADABAAJgABAAAAAAAEABAAXAABAAAAAAAFABYAEAABAAAAAAAGAAgANgABAAAAAAAKADQAbAADAAEECQABABAAAAADAAEECQACAA4ATgADAAEECQADABAAJgADAAEECQAEABAAXAADAAEECQAFABYAEAADAAEECQAGABAAPgADAAEECQAKADQAbABiAGIALQBpAGMAbwBuAHMAVgBlAHIAcwBpAG8AbgAgADEALgAwAGIAYgAtAGkAYwBvAG4Ac2JiLWljb25zAGIAYgAtAGkAYwBvAG4AcwBSAGUAZwB1AGwAYQByAGIAYgAtAGkAYwBvAG4AcwBGAG8AbgB0ACAAZwBlAG4AZQByAGEAdABlAGQAIABiAHkAIABJAGMAbwBNAG8AbwBuAC4AAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA) format('truetype'),
     url(data:application/font-woff;charset=utf-8;base64,d09GRgABAAAAAAjsAAsAAAAACKAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAAABCAAAAGAAAABgDxIDMGNtYXAAAAFoAAAATAAAAEwaVcxdZ2FzcAAAAbQAAAAIAAAACAAAABBnbHlmAAABvAAABQAAAAUAZgdHRGhlYWQAAAa8AAAANgAAADYE11YLaGhlYQAABvQAAAAkAAAAJAfCA8xobXR4AAAHGAAAACwAAAAsHgADjGxvY2EAAAdEAAAAGAAAABgFSAaAbWF4cAAAB1wAAAAgAAAAIAASAHRuYW1lAAAHfAAAAU4AAAFO1+fHVHBvc3QAAAjMAAAAIAAAACAAAwAAAAMEAAGQAAUAAAKZAswAAACPApkCzAAAAesAMwEJAAAAAAAAAAAAAAAAAAAAARAAAAAAAAAAAAAAAAAAAAAAQAAA5gYDwP/AAEADwABAAAAAAQAAAAAAAAAAAAAAIAAAAAAAAgAAAAMAAAAUAAMAAQAAABQABAA4AAAACgAIAAIAAgABACDmBv/9//8AAAAAACDmAP/9//8AAf/jGgQAAwABAAAAAAAAAAAAAAABAAH//wAPAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAQAqwArA1UDVQAnADQAQQBGAAATFBYXFRQWOwEyNj0BIRUUFjsBMjY9AT4BNRE0JicuASMiBgcOARURFyImNTQ2MzIWFRQGIyEiJjU0NjMyFhUUBiMTITUhFasXExkSKxEZAVYZESsSGRMXNS8ufEdHfC4vNZUbJSUbGyUlGwGAGyUlGxslJRtA/gACAAEAHDESTBEZGRErKxEZGRFMEjEcAas4QxISCwsSEkM4/lUrJhobJSUbGiYmGhslJRsaJgEA1tYAAAAABgAAAAAEAAN3AAwAJQAyAEsAZABxAAABMjY1NCYjIgYVFBYzEyIGBw4BFRQWFx4BMzI2Nz4BNTQmJy4BIxEiJjU0NjMyFhUUBiMDMzUjJy4BIyIGDwEOARUUFh8BFTMRJzcXBSIGBw4BFRQWFx4BMzI2Nz4BNTQmJy4BIxEiJjU0NjMyFhUUBiMCqx8tLR8gLS0ggCxOHR0iIh0dTiwsThwdIiIdHE4sPlhYPj5XVz60tIlSCiEUDxoKngoLExGPTWBjSf5eLE4cHSIiHRxOLCxOHR0iIh0dTiw+V1c+PlhYPgLeLSAgLCwgIC3+zSIdHU4sLE4cHSIiHRxOLCxOHR0i/pVXPj5YWD4+VwHATYsQFAwKnQobDxQgClfVARRHZGpVIh0dTiwsThwdIiIdHE4sLE4dHSL+lVc+PlhYPj5XAAAAAgEAAAADKwOiAAwAJgAAATI2NTQmIyIGFRQWMxMzNSMnLgEjIgYPARUzNTcDMxMXFTMRJzcXAlUgLS0gICwsIAXRm1UKIRQFCwXnTVqnTXpkTGogLQMJLCAgLS0gICz+902OEBMBAkjenRz9cgFahdUBEcJ6TQAABACAACsDgALVABwAKQA2ADsAAAEuASMhIgYPAREUFjsBMjY9ASEVFBY7ATI2NREnASImNTQ2MzIWFRQGIyEiJjU0NjMyFhUUBiMlNyEXIQMnBiEV/ioVIQZZGRIqEhkCABkSKhIZWf3uGiYmGhslJRsB1hslJRsaJiYa/epAAdZA/aoCqhMYGBP//qoRGRkRKysRGRkRAVb//lYlGxslJRsbJSUbGyUlGxsl1cDAAAADAC7/2APSA30ABAApAC4AABMXAScBJScOASMiJjU0NjcnJiIHAQYUHwE+ATMyFhUUBgcXFjI3ATY0JwkE+7YBTrb+sgLXTQsZDis8BgZNDysQ/c0PD00LGQ4rPAYGTQ8rDwI0Dw/93/73AaEBCf5fAVy2AU61/rP5TgYHPSsNGQtODw/9zA8rD04GBz0rDRkLTg8PAjQPKw/9/gEJAaH+9/5fAAIBAAARAwADRAAYACUAAAEiBgcOARUUFhceATEwNjc+ATU0JicuASMRIiY1NDYzMhYVFAYjAgA1XSMjKFAwMFBQMDBQKCMjXTU5UVE5OVFROQNEKCMiXjVbx1NTa2tTU8dbNV4iIyj+c1E5OVFROTlRAAAABAAzAAADzQOaABgAHQAiACcAAAEjFSM1IRUjNSMiBhURFBYzITI2NRE0JiMRIREhEQEjFTM1ISMVMzUDZi6k/tikLis8PCsCzCs8PCv9NALM/ddHRwHNR0cDM2ZmZmY8Kv2ZKjw8KgJnKjz9MwGa/mYDNK6urq4AAQAAAAEAAA+bdmdfDzz1AAsEAAAAAADQ3AjKAAAAANDcCMoAAP/YBAADogAAAAgAAgAAAAAAAAABAAADwP/AAAAEAAAAAAAEAAABAAAAAAAAAAAAAAAAAAAACwAAAAAAAAAAAAAAAAIAAAAEAACrBAAAAAQAAQAEAACABAAALgQAAQAEAAAzAAAAAAAKABQAHgCCASQBYAG4AgoCRAKAAAEAAAALAHIABgAAAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAOAK4AAQAAAAAAAQAQAAAAAQAAAAAAAgAOAE4AAQAAAAAAAwAQACYAAQAAAAAABAAQAFwAAQAAAAAABQAWABAAAQAAAAAABgAIADYAAQAAAAAACgA0AGwAAwABBAkAAQAQAAAAAwABBAkAAgAOAE4AAwABBAkAAwAQACYAAwABBAkABAAQAFwAAwABBAkABQAWABAAAwABBAkABgAQAD4AAwABBAkACgA0AGwAYgBiAC0AaQBjAG8AbgBzAFYAZQByAHMAaQBvAG4AIAAxAC4AMABiAGIALQBpAGMAbwBuAHNiYi1pY29ucwBiAGIALQBpAGMAbwBuAHMAUgBlAGcAdQBsAGEAcgBiAGIALQBpAGMAbwBuAHMARgBvAG4AdAAgAGcAZQBuAGUAcgBhAHQAZQBkACAAYgB5ACAASQBjAG8ATQBvAG8AbgAuAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==) format('woff');
  font-weight: normal;
  font-style: normal;
}

.bb-icon {
  font-family: 'bb-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-directions-bus:before {
  content: "\e600";
}

.icon-directions-bike:before {
  content: "\e601";
}

.icon-directions-walk:before {
  content: "\e602";
}

.icon-directions-car:before {
  content: "\e603";
}

.icon-ticket:before {
  content: "\e604";
}

.icon-location:before {
  content: "\e605";
}

.icon-calendar:before {
  content: "\e606";
}

.icon-price {
  font-family: 'Glyphicons Halflings';
  &:before {
    content: "\e149";
  }
}

