.search-form-wrapper {
  margin: 10px 0 15px 0;

  .form-group {
    margin-bottom: 0;
  }

}

.company-map-header{
  margin: 15px 0 25px;
  font-size: $font-size-large;
}

.bb-company-block {

  .panel-heading {
    cursor: pointer;
  }

  .panel-title {
    padding-bottom: 0;
  }

  .store-details li {
    padding-bottom: 5px;
  }

  @media (min-width: 768px) {
    padding-right: 0;
  }
}

.bb-map-block {
  @media (max-width: 767px) {
    padding-bottom: 15px;
  }
}
/* GMAP START */

.map-canvas {
  height: 400px;
  margin-bottom: 15px;
  @media (max-width: 767px) {
    height: 200px;
  }
}

.gmnoprint img {
  max-width: none; 
  max-height: none;
}

.gm-style img { 
  max-width: none; 
}
.gm-style label { 
  width: auto; 
  display: inline; 
}

/* GMAP END */

.bb-store-search {

  .panel {
    border-top: 1px solid #DDD;
  }

  .panel-title {
    font-size: $font-size-base;
  }

  input {
    font-size: $font-size-base;
  }

  .bb-map-block {
    height: 800px;
  }

}