<div ng-show="loading"><img src='/BB_wait.gif' class="loader"></div>
<div ng-hide="loading" class="bb-past clearfix">
  <div class="bb-head">
    <span id="your_bookings">Your past appointments:</span>
  </div>
  <div id="bookings">
    <div ng-if="past_bookings.length == 0">
      <h3>You don't currently have any past appointments.</h3>
    </div>
    <div ng-repeat="booking in past_bookings | filter:{deleted: false} |
      orderBy: 'datetime.unix()' " class="booking-row">
      <div class="type col-sm-1">
        <div style="background-color:{{booking.getColour()}}"></div>
      </div>
      <div class="datetime col-sm-5">
        <div>{{booking.datetime.format('Do MMM YYYY HH:mm')}}</div>
      </div>
      <div class="describe col-sm-5">
        <div class="detail">{{booking.full_describe}}</div>
        <div class="resource">{{booking.resource}}</div>
      </div>
      <div class="bb-bookings-action col-sm-1">
        <button ng-click="cancel(booking)" class="btn btn-danger bb-push">
          Cancel
        </button>
      </div>
      <pagination total-items="pagination.num_items"
        ng-model="pagination.current_page" items-per-page="pagination.page_size"
        max-size="pagination.max_size" boundary-links="true" rotate="false"
        num-pages="pagination.num_pages" ng-show="past_bookings"></pagination>
    </div>
  </div>
</div>
