<div bb-wait-for="quickEmptybasket()" bb-wait-var="allDone" ng-if="allDone" bb-form-data-store ng-controller="PageController">

  <div id="appointment-booking-form-wrap" class="block">
    <form id="appointment-booking-form" >

      <div bb-form-data-store ng-controller="ServiceList">
        <div class="input-row selectbox">
          <label>Pick a Service</label>
          <span class="no-border">
            <select id="enquiry-type" ng-model="service" ng-options="s.name for s in bookable_services">
              <option value="">-- pick a service --</option>
            </select>
          </span>
        </div>
      </div>

      <div ng-if="bb.company.$has('people') && !bb.item_defaults.person" ng-show="bb.current_item.service" ng-controller="PersonList">
        <div class="input-row selectbox">
          <label>Pick an adviser</label>
          <span class="no-border">
            <select id="enquiry-type" ng-model="person" ng-options="s.name for s in bookable_people">
              <option value="">-- pick any adviser --</option>
            </select>
          </span>
        </div>
      </div>

      <div ng-if="bb.company.$has('resources') && !bb.item_defaults.resource" ng-show="bb.current_item.service" ng-controller="ResourceList">
        <div class="input-row selectbox">
          <label>Pick a Resource</label>
          <span class="no-border">
            <select id="enquiry-type" ng-model="resource" ng-options="s.name for s in bookable_resources">
              <option value="">-- pick any resource --</option>
            </select>
          </span>
        </div>
      </div>
      <br />
      <div ng-show="bb.current_item.service">
        <a class="button-colour-a" ng-click="checkReady() && routeReady()" bb-debounce>Next</a>
      </div>

    </form>
  </div>
</div>