<div bb-services ng-init="checkStepTitle('Select a service')" class="bb-service-list">
  <div class="bb-subcontent">

    <div class="bb-filters" ng-show="items">

      <div accordion close-others="true">
        <div accordion-group is-open="is_open" ng-class="{'expanded': is_open, 'selected': is_selected}" class="store-body">

          <div accordion-heading class="filter-header">
            <span>Filter</span>
            <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
          </div>

          <form class="form-inline">

            <div ng-if="all_categories"class="form-group">
              <label class="sr-only" >Category</label>
              <select class="form-control" type="text" name="category" id="category" ng-model="filters.name" ng-options="item.name for item in all_categories" ng-change="filterChanged()">
                <option  value="">Any category</option>
              </select>
            </div>

            <div bb-price-filter></div>

            <div class="form-group">
              <button type="button" class="btn btn-link" ng-click="resetFilters()">
                <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                Reset
              </button>
            </div>

          </form>

        </div>
      </div>

    </div>

    <div class="panel panel-default" ng-repeat="item in filtered_items">
      <div class="panel-body">
        <div class="row bb-vertical-align-center">
          <div class="col-sm-8 col-xs-6">
            <h2 class="panel-title bb-service-name">{{item.name}}</h2>
            <div class="row">
              <div class="hidden-xs col-sm-2 bb-service-image" ng-if="item.extra.image_url">
                <img ng-src="{{item.extra.image_url}}" class="img-responsive"/>
              </div>
              <div class="hidden-xs col-sm-10 bb-service-description" ng-if="item.description">
                {{item.description}}
              </div>
            </div>
          </div>
          <div class="col-sm-2 col-xs-6">
            <div class="bb-service-price">
              <span ng-show="item.price > 0">{{item.price | currency: bb.company.currency_code}}</span>
              <span ng-show="item.price == 0">Free</span>
            </div>
          </div>
          <div class="col-xs-12 hidden-sm hidden-md hidden-lg bbb-service-image" ng-if="item.extra.image_url">
            <img ng-src="{{item.extra.image_url}}" class="img-responsive"/>
          </div>
          <div class="col-xs-12 hidden-sm hidden-md hidden-lg bb-service-description" ng-if="item.description">
            {{item.description}}
          </div>
          <div class="col-sm-2 col-xs-12">
            <button type="button" ng-click="selectItem(item)" class="btn btn-primary btn-block">Select</button>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="panel-body" ng-show="filtered_items && filtered_items.length == 0">
        <div class="col-sm-12 ">
          <div class="bb-service-unavailable">
            <p>
              No services match your filter criteria.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="bb-step-navigation">
  <div class="row"> 
    <div class="col-sm-3">
      <button type="button" class="btn btn-default" bb-debounce ng-click="loadPreviousStep()" ng-show="bb.current_step > 1">Back</button>
    </div>
  </div> 
</div>
