.btn-icon {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  &:active {
    box-shadow: none;
  }
  &:focus {
    outline: none;
  }
  &[disabled] {
    color: #CCC;
  }
}

.btn-xl {
  font-size: 50px;
}

.button-group{
  padding-top: 15px;
  .btn {
    width: 100%;
    @media (min-width: 768px) {
      width: auto;
    }
  }
  &.bordered {
    border-top: 1px solid #DDD;
    margin-top: 30px;
  }
}

.date-picker .input-group-btn .btn {
  height: 36px;
}
