// \/\/\/\/\/\/\/\/\/\/\/\/\/\/
// EXPORT TO CALENDAR POPOVER
// \/\/\/\/\/\/\/\/\/\/\/\/\/\/
.popover{
  span{
    color: #777;
    cursor: pointer;
    padding-top: 5px;
    &:hover{
      text-decoration: underline;
    }
  }
}