<div bb-checkout="{disable_confirmation: true}" class="bb-checkout">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8">
      <div class="bb-subcontent">
        <div class="confirmation-header bb-confirmation-border-margin">
          <div ng-if="total && !total.containsWaitlistItems()">
            <h2>Booking Confirmation</h2>
            <p class="bb-confirmation-p-alignment">Thanks {{ total.client.first_name }}. Your booking is now confirmed. We have emailed you the details below.</p>
          </div>
          <div ng-if="total && total.containsWaitlistItems()">
            <h2>Confirmation</h2>
            <p class="bb-confirmation-p-alignment">Thanks {{ total.client.first_name }}. You have successfully made the following bookings. We have you emailed you the details below.</p>
          </div>
          <div class="row hidden-print text-right">
            <button type="button" class="btn btn-link" onclick="window.print()"><span class="glyphicon glyphicon-print"></span> Print</button>
            <div bb-booking-export class="bb-booking-export"></div>
          </div>
        </div>

        <div ng-show="total">
          <ul ng-if="total.id" class="confirmation-summary">
            <li class="row confirmation-summary-item">
              <div class="col-sm-3">Booking Reference:</div>
              <div class="col-sm-9">{{total.id}}</div>
            </li>
          </ul>
          <ul class="confirmation-summary" ng-repeat="i in total.items track by $index">
            <li ng-if="i.name" class="row confirmation-summary-item">
              <div class="col-sm-3">Name:</div>
              <div class="col-sm-9">{{i.name}}</div>
            </li>
            <li ng-if="i.description" class="row confirmation-summary-item">
              <div class="col-sm-3">Description:</div>
              <div class="col-sm-9">{{i.description}}</div>
            </li>
            <li ng-if="i.full_describe" class="row confirmation-summary-item">
              <div class="col-sm-3">Service:</div>
              <div class="col-sm-9">{{i.full_describe}}</div>
            </li>
            <li ng-if="i.describe" class="row confirmation-summary-item">
              <div class="col-sm-3">Date/Time:</div>
              <div class="col-sm-9">{{i.describe}}</div>
            </li>
            <li ng-if="i.price" class="row confirmation-summary-item">
              <div class="col-sm-3">Price:</div>
              <div class="col-sm-9">{{i.price | currency }}</div>
            </li>
            <li ng-if="i.due_now != 0" class="row confirmation-summary-item">
              <div class="col-sm-3">Due Now:</div>
              <div class="col-sm-9">{{i.due_now | currency }}</div>
            </li>
            <span ng-repeat="prepaid in available_prepaid_bookings">
            <li ng-if="i.due_now > 0" class="row confirmation-summary-item">
              <div class="col-sm-3">PrePaid Booking:</div>
              <div class="col-sm-9">{{prepaid}}</div>
            </li>
            </span>
          </ul>
          <ul ng-show="total.items[0].address.lat" class="confirmation-summary">
            <li class="row confirmation-summary-item">
              <div class="col-sm-12">
                <div bb-address-map="total.items[0].address" ng-if="total.items[0].address.lat" >
                  <ui-gmap-google-map center='map.center' zoom='map.zoom' options="options">
                    <ui-gmap-marker coords="marker.coords" idkey="marker.id">
                    </ui-gmap-marker>
                  </ui-gmap-google-map>
                </div>
              </div>
            </li>
            <li class="row confirmation-summary-item">
              <div class="col-sm-12">
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>{{total.items[0].address | address_single_line }}
              </div>
            </li>
          </ul>
          <div ng-if="total.$has('new_payment')" class="col-sm-12 bb-checkout-pay-button-div">
            <div bb-payment-button
              value="Pay" 
              class="btn btn-primary" 
              total="total" 
              bb="bb"
              decide-next-page="decideNextPage">
            </div>
          </div>
          <div bb-custom-confirmation-text class="bb-message">
            <div ng-repeat="msg in messages" ng-bind-html="msg">
            </div>
          </div>
        </div>   
      </div>
    </div>
  </div>
</div>

<div class="bb-step-navigation">
</div>

<div ng-show="isLoaded" class="powered-by visible-print">
  <p>Bookings powered by <span style="color:#087f94">booking</span><span style="color:#88c66f">bug</p>
  <a href="//www.bookingbug.com" style="text-decoration:none" target="_blank"></a>
</div>
