<div bb-page>

  <div bb-event ng-class="{'has-image': event.image, 'no-image': !event.image}">

    <div class="event-header" ng-style="event.image.background_css">
      <div class="event-details">
        <h1>{{event.chain.name}}</h1>
        <ul class="event-summary-list">
          <li class="date-time">
            <span class="bb-icon icon-calendar"></span>
            <span>{{event.date.format('dddd Do MMMM YYYY')}} at <span class="event-time">{{event.date.format('HH:mm')}}</span></span>
          </li>
          <li class="location" ng-show="event.chain.address">
            <span class="bb-icon icon-location"></span>
            <span>{{event.chain.address | address_single_line}}</span>
          </li>
          <li class="tickets" ng-show="event.tickets && event.getSpacesLeft() > 0">
            <span class="bb-icon icon-ticket"></span>
            <span>{{event.getSpacesLeft()}} ticket<span ng-if="event.getSpacesLeft() > 1">s</span> remaining</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="panel panel-default event-description" ng-show="event.chain.description">
      <div class="panel-body">
        <p ng-bind-html="event.chain.description"></p>
      </div>
    </div>

    <div class="panel panel-default event-tickets">
      <div class="panel-body">
        <h2 class="heading">Tickets</h1>
        <div ng-form name="ticket_form" class="bb-form" role="form">

          <ul class="ticket-list">
            <li class="header">
              <div class="row">
                <div class="col-sm-6 col-xs-6">Type</div>
                <div class="col-sm-3 col-xs-4">Price</div>
                <div class="col-sm-3 col-xs-2">Qty</div>
              </div>
            </li>
            <li ng-repeat="ticket in tickets">
              <div class="row">
                <div class="col-sm-6 col-xs-6">
                  <span>{{ticket.fullName() || ticket.name}}</span>
                </div>
                <div class="col-sm-3 col-xs-4">
                  <span ng-if="ticket.price > 0">{{ticket.price | currency}}</span><span ng-if="ticket.price == 0">Free</span>
                  <small ng-if="ticket.counts_as"><i>(for {{ticket.counts_as}})</i></small>
                </div>
                <div class="col-sm-3 col-xs-2">
                  <span ng-if="selected_tickets">{{ticket.qty}}</span>
                  <select ng-if="!selected_tickets" ng-model="ticket.qty" ng-options="n as n for n in ticket.getRange(20)"></select>
                </div>
              </div>
              <div ng-repeat="prepaid in pre_paid_bookings">
                Use pre-paid booking? {{prepaid.remaining}} remaining
                <label class="radio-inline">
                  <input type="radio" ng-model="ticket.pre_paid_booking_id"
                    name="prepaid{{$index}}" id="prepaid{{$index}}yes" ng-value="prepaid.id"> Yes
                </label>
                <label class="radio-inline">
                  <input type="radio" ng-model="ticket.pre_paid_booking_id"
                    name="prepaid{{$index}}" id="prepaid{{$index}}no" ng-value="null"> No
                </label>
              </div>
            </li>
            <li ng-if="bb.basket.questionPrice()">
              <div class="row">
                <div class="col-sm-6 col-xs-6 total-label">Booking Fee</div>
                <div class="col-sm-3">{{bb.basket.questionPrice() | currency}}</div>
              </div>
            </li>
            <li ng-if="selected_tickets && bb.basket.hasCoupon()">
              <div class="row">
                <div class="col-sm-6 col-xs-6 total-label">Original Cost</div>
                <div class="col-sm-3 col-xs-6">{{bb.basket.fullPrice() | currency}}</div>
              </div>
            </li>
            <li ng-if="selected_tickets && bb.basket.hasCoupon()">
              <div class="row">
                <div class="col-sm-6 col-xs-6 total-label">Coupon Discount</div>
                <div class="col-sm-3 col-xs-6">{{(bb.basket.fullPrice() - bb.basket.totalPrice()) | currency}}</div>
              </div>
            </li>
            <li ng-if="selected_tickets && (bb.basket.hasCoupon() || bb.basket.totalPrice())">
              <div class="row">
                <div class="col-sm-6 col-xs-6 total-label">Total</div>
                <div class="col-sm-3 col-xs-6"><strong>{{bb.basket.totalPrice() | currency}}</strong>
                </div>
              </div>
            </li>
          </ul>


          <div class="button-group" ng-if="!selected_tickets">
            <div class="row">
              <div class="col-sm-offset-9 col-sm-3" ng-show="event.getSpacesLeft() > 0">
                <button type="button" class="btn btn-primary pull-right" ng-disabled="event.tickets[0].qty <= 0 " ng-click="selectTickets()">Reserve Ticket<span ng-if="event.tickets[0].qty > 1">s</span></button>
              </div>
              <div class="col-sm-offset-9 col-sm-3" ng-show="event.getSpacesLeft() <= 0 && bb.company.settings.has_waitlists">
                <button type="button" class="btn btn-primary pull-right" ng-disabled="event.tickets[0].qty <= 0 " ng-click="selectTickets()">Join Waitlist</button>
              </div>
            </div>
          </div> 


          <div ng-if="selected_tickets" bb-basket-list class="button-group row">
            <div class="col-sm-4 col-sm-offset-8">
              <form class="form-inline">
                <div class="form-group">
                  <label for="coupon_code">Apply a coupon:</label>
                  <div class="input-group">
                    <input type="text" class="form-control input-sm" id="coupon_code" name="coupon_code" ng-model="coupon_code" placeholder="Enter a coupon code">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-primary btn-sm" ng-click="applyCoupon(coupon_code)">Apply</button>
                    </span>
                  </div>
                </div>
              </form>
            </div>
          </div>
          
        </div>
      </div>
    </div>


    <div class="panel panel-default event-client-details" ng-if="selected_tickets">
      <div class="panel-body">

        <form name="booking_form" class="form-horizontal" role="form" novalidate bb-form>
        
          <div ng-form name="client_form" class="bb-form" role="form" novalidate>

            <h2 class="booking-form-header">Your details</h2>

            <div class="form-group" ng-class="{'has-error': client_form.first_name.$invalid && (client_form.first_name.$dirty || booking_form.submitted)}">
              <label for="first_name" class="control-label col-sm-4">First Name:</label>
              <div class="col-sm-5">
                <input type="text" name="first_name" id="first_name" required ng-model="client.first_name" class="form-control"/>
              </div>
              <div class="col-sm-offset-4 messages">
                <div class="error-message" ng-show="client_form.first_name.$invalid && booking_form.submitted">
                  Please enter your first name
                </div>
              </div> 
            </div>

            <div class="form-group" ng-class="{'has-error': client_form.last_name.$invalid && (client_form.last_name.$dirty|| booking_form.submitted)}">
              <label for="last_name" class="control-label col-sm-4">Last Name:</label>
              <div class="col-sm-5">
                <input type="text" name="last_name" id="last_name" required ng-model="client.last_name" class="form-control"/>
              </div>
              <div class="col-sm-offset-4 messages">
                <div class="error-message" ng-show="client_form.last_name.$invalid && booking_form.submitted">
                  Please enter your last name
                </div>          
              </div>
            </div>

            <div class="form-group" ng-class="{'has-error': client_form.email.$invalid && (client_form.email.$dirty|| booking_form.submitted)}">
              <label for="email" class="control-label col-sm-4">Email:</label>
              <div class="col-sm-5">
                <input type="email" name="email" id="email" required ng-model="client.email" class="form-control"/>
              </div>
              <div class="col-sm-offset-4 messages">
                <div class="error-message" ng-show="client_form.email.$invalid && booking_form.submitted">
                  Please enter a valid email address
                </div>          
              </div>
            </div>

            <div class="form-group" ng-class="{'has-error': client_form.mobile.$invalid && ((client_form.mobile.$dirty && !client_form.mobile.$focused) || booking_form.submitted)}">
              <label for="mobile" class="control-label col-sm-4">Mobile:</label>
              <div class="col-sm-5">
                <input type="text" name="mobile" id="mobile" ng-pattern="validator.getMobilePattern()" ng-model="client.mobile" class="form-control" bb-focus/>
              </div>
            </div>

            <div bb-client-details ng-show="client_details.hasQuestions">

              <div class="form-group" ng-repeat="question in client_details.questions" ng-if="question.currentlyShown" bb-question-line ng-class="{ 'check': question.detail_type == 'check', 'has-error': client_form['q' + question.id].$invalid && (client_form['q' + question.id].$dirty || booking_form.submitted)}">
                <label ng-hide="question.detail_type == 'check'" for="{{question.id}}" class="control-label col-sm-4">{{question.name}}<span ng-show="question.required">*</span></label>
                <div ng-show="question.detail_type == 'check'" class="col-sm-4 hidden-xs">&nbsp;</div>
                <div class="col-sm-5">
                  <input bb-question="question"/>
                </div>
                <div class="col-sm-offset-4 messages">
                  <div class="error-message" ng-show="client_form['q' + question.id].$invalid && ( client_form['q' + question.id].$dirty || booking_form.submitted )">
                    This field is required
                  </div>
                </div> 
              </div>   

            </div>

          </div>

          <div ng-repeat="item in bb.basket.timeItems()" bb-count-ticket-types="bb.basket.timeItems()">

            <h2 class="booking-form-header">Ticket {{$index + 1}}</h2>

            <div bb-item-details="item">
              <div ng-form name="booking_questions_form">
                <div class="form-group" ng-class="{'has-error': booking_questions_form.first_name.$invalid && (booking_questions_form.first_name.$dirty|| booking_form.submitted)}">
                  <label for="first_name" class="control-label col-sm-4">Attendee {{$index + 1}} First Name:</label>
                  <div class="col-sm-5">
                    <input type="text" name="first_name" id="first_name" required ng-model="item.first_name" class="form-control"/>
                  </div>
                  <div class="col-sm-offset-4 messages">
                    <div class="error-message" ng-show="booking_questions_form.first_name.$invalid && booking_form.submitted">
                      Please enter a first name for this attendee
                    </div>          
                  </div>
                </div>
                <div class="form-group" ng-class="{'has-error': booking_questions_form.last_name.$invalid && (booking_questions_form.last_name.$dirty|| booking_form.submitted)}">
                  <label for="last_name" class="control-label col-sm-4">Attendee {{$index + 1}} Last Name:</label>
                  <div class="col-sm-5">
                    <input type="text" name="last_name" id="last_name" required ng-model="item.last_name" class="form-control"/>
                  </div>
                  <div class="col-sm-offset-4 messages">
                    <div class="error-message" ng-show="booking_questions_form.last_name.$invalid && booking_form.submitted">
                      Please enter last name for this attendee
                    </div>          
                  </div>
                </div>
                <div class="form-group" ng-class="{'has-error': booking_questions_form.email.$invalid && (booking_questions_form.email.$dirty|| booking_form.submitted)}">
                  <label for="email" class="control-label col-sm-4">Attendee {{$index + 1}} Email:</label>
                  <div class="col-sm-5">
                    <input type="email" name="email" id="email" required ng-model="item.email" class="form-control"/>
                  </div>
                  <div class="col-sm-offset-4 messages">
                    <div class="error-message" ng-show="booking_questions_form.email.$invalid && booking_form.submitted">
                      Please enter a valid email address for this attendee
                    </div>          
                  </div>
                </div>
                <div class="form-group" ng-repeat="question in item_details.questions" ng-if="question.currentlyShown" bb-question-line ng-class="{'has-error': booking_questions_form['q' + question.id].$invalid && (booking_questions_form['q' + question.id].$dirty || booking_form.submitted)}">
                  <label for="{{question.id}}" class="control-label col-sm-4">{{question.name}}</label>
                  <div class="col-sm-5">
                    <input bb-question="question"/>
                  </div>
                  <div class="col-sm-offset-4 messages">
                    <div class="error-message" ng-show="booking_questions_form['q' + question.id].$invalid && ( booking_questions_form['q' + question.id].$dirty || booking_form.submitted )">
                      This field is required
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="button-group bordered">
            <div class="row">
              <div class="col-sm-offset-9 col-sm-3" ng-show="event.getSpacesLeft() > 0">
                <button type="submit" class="btn btn-primary pull-right" ng-click="validator.validateForm(booking_form) && checkReady() && routeReady()">Book Ticket<span ng-if="event.tickets[0].qty > 1">s</span></button>
              </div>
              <div class="col-sm-offset-9 col-sm-3" ng-show="event.getSpacesLeft() <= 0 && bb.company.settings.has_waitlists">
                <button type="submit" class="btn btn-primary pull-right" ng-click="validator.validateForm(booking_form) && checkReady() && routeReady()">Confirm</button>
              </div>
            </div>
          </div>

        </form>

      </div>
    </div><!-- selected_tickets -->

    <div class="panel panel-default">
      <div class="panel-body">
        <div ng-show="event.chain.long_description">
          <h2 class="heading">Event details</h2>
          <p class="event-long-description" ng-bind-html="event.chain.long_description" ng-show="event.chain.long_description"></p>
        </div>
        
        <div bb-custom-booking-text class="bb-custom-booking-text text-block">
          <p ng-repeat="msg in messages" ng-bind-html="msg"></p>
        </div>

<!--         <div bb-address-map="event.chain.address">
          <div ng-if="event.chain.address" ui-options="mapOptions" class="map-canvas" ng-delayed="ui-map" ng-delayed-value="myMap" ng-delayed-watch="mapReady" ng-delayed-ready="mapLoaded"></div>
          <div ng-repeat="marker in mapMarkers" ui-map-marker="mapMarkers[$index]"></div>
        </div> -->
        <div bb-address-map="event.chain.address">
          <ui-gmap-google-map ng-if="event.chain.address.lat"center='map.center' zoom='map.zoom' options="options">
            <ui-gmap-marker coords="marker.coords" idkey="marker.id">
            </ui-gmap-marker>
          </ui-gmap-google-map>
        </div>
      </div>
    </div>


    <div class="bb-step-navigation">
      <div class="row">
        <div class="col-sm-6 text-left">
          <button type="button" class="btn btn-default" bb-debounce ng-click="loadPreviousStep()">Back</button>
<!--           <div class="warning" ng-show="selected_tickets">
            <p>Please note that your tickets will be unreserved if you need to amend your selection.</p>
          </div> -->
        </div>
      </div>
    </div> 


  </div>

</div>
